.advices-container{
  margin-left: 10%;
  margin-top: 5%;
}

.advice-cat{
  display: inline-block;
  width: 32%;
  vertical-align: top;
}

.advice-block{
  .makeRed{
    @include vendor(transition,opacity 0.5s);
    opacity: 0;
  }

  &:hover {
    .makeRed {
      @include vendor(transition, opacity 0.5s);
      opacity: 1;
      color: #808080;
    }
  }
}

.advice-input {
  border: none;
  background: transparent;
}

.hover{
  &:hover{
    .changecolor{
      color: #000000;
      @include vendor(transition, transform 0.5s);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

.inline{
  display: inline;
}

.pointer{
  cursor: pointer;
}

.changecolor{
  color: #808080;
  @include vendor(transition, transform 0.5s);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}