.advices-container{
  margin-left: 10%;
  margin-top: 5%;
}

.advice-cat{
  display: inline-block;
  width: 32%;
  vertical-align: top;
}

.advice-block{
  .makeRed{
    @include vendor(transition,opacity 0.5s);
    opacity: 0;
  }

  &:hover {
    .makeRed {
      @include vendor(transition, opacity 0.5s);
      opacity: 1;
      color: #808080;
    }
  }
}

.advice-input {
  border: none;
  background: transparent;
}

.hover{
  &:hover{
    .changecolor{
      color: #ff00e0;
    }
  }
}

.inline{
  display: inline;
}

.pointer{
  cursor: pointer;
}
