<div class="advice-cat">

    <h2 class="inline pointer hover" ng-click="toggle ()">{{category.name}}<span ng-class="{'icon-caret-up': category.open, 'icon-caret-down': !category.open}" class="changecolor"></span></h2>
    <div class="advice-block" ng-repeat="advice in category.data | advicefilter: category.name" ng-show="category.open">
        <input type="text" class="advice-input" ng-model="advice.description">
        <span class="icon-trash icon-2x makeRed pointer"></span>
    </div>
</div>
