.login-container{
  width: 100%;
  height: 100%;
}

.form-container{
  width: 100%;
  margin: 0 auto;
}

.login-form{
  text-align: center;
  display: block;
}

.login-input{
  display: block;
  margin: 2 auto;
}

