.login-container{
  width: 100%;
}

.login-form{
  text-align: center;
  display: block;
}

.login-input{
  display: block;
  margin: 0 auto;
  margin: 5px auto;
}

.nekka{
  display: block;
  margin: 0 auto;
  margin: 5px auto;
}